@model CESIZen.Models.ReponseEvenement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReponseEvenement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReponseQuestionnaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReponseQuestionnaire.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionnaireStress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionnaireStress.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstSurvenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstSurvenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValeurPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValeurPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
